 button{
    width: 150px;
    background: #5071df;
    border: none;
    color: white;
    box-shadow: 0 0 5px #5071df;
    padding: 10px 10px;
}

button:hover{
    background: #192d70;
}
button:active{
    background: #5071df;
    border: 1px solid #192d70;
}